#page-jobs #container {
    width: 100vw;
    height: 100vh;
}

#search-jobs {
    margin-top: 3.2rem;
}

#search-jobs label {
    color: var(--color-text-in-primary);
}

#search-jobs .select-block {
    margin-bottom: 1.4rem;
}

#search-jobs button {
    width: 100%;
    height: 5rem;
    background: var(--color-secondary);
    color: var(--color-button-text);
    border: 0;
    border-radius: .1rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    transition: background 0.05s;
    margin-top: 3.2rem;
    outline: 0;
}

#search-jobs button:hover {
    background-color: var(--color-secondary-dark);
}

#page-jobs main {
    margin: 3.2rem auto;
    width: 90%;
}

.vacancy-item {
    background-color: var(--color-box-base);
    border: 1px solid var(--color-line-in-white);
    
    border-radius: 0.1rem;
    margin-top: 1.4rem;
}

.vacancy-item header {
    padding: 3.2rem 2rem;
    display: flex;    
    align-items: center;
}

.vacancy-item header img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.vacancy-item header div {
    margin-left: 2.4rem;
}

.vacancy-item header div strong {
    font: 700 2.4rem Archivo;
    display: block;
    color: var(--color-text-title);
}

.vacancy-item header div span {
    font-size: 1.6rem;
    display: block;
    margin-top: .4rem;
}

.vacancy-item > p {
    padding: 0 2rem;
    font-size: 1.6rem;
    line-height: 2.8rem;
}

.vacancy-item footer {
    padding: 2rem 2rem;
    background-color: var(--color-box-footer);
    border-top: 1px solid var(--color-line-in-white);
    margin-top: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vacancy-item footer p {
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: var(--color-text-complement);
}

.vacancy-item footer p strong {
    font-size: 1.6rem;
    color: var(--color-primary);
    display: block;
}

.vacancy-item footer button {
    width: 18rem;
    height: 4rem;
    background: var(--color-secondary);
    color: var(--color-button-text);
    border: 0;
    border-radius: 0.1rem;
    cursor: pointer;
    font: 700 1.4rem Archivo;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    text-decoration: none;
    outline: 0;

    transition: background 0.1s;
    margin-left: 1.6rem;
}

.vacancy-item footer button:hover {
    background: var(--color-secondary-dark);
}

@media (min-width: 700px) {
    #page-jobs #container {
        max-width: 100vw;
    }

    .page-header {
        height: 340px;
    }

    .page-header .top-bar-container {
        max-width: 1100px;
    }

    .page-header .header-content {
        max-width: 740px;

        margin: 0 auto;
        flex: 1 1;
        padding-bottom: 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .page-header .header-content strong {
        max-width: 350px;
    }

    .vacancy-item header,
    .vacancy-item footer {
        padding: 32px;   
    }

    #search-jobs {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
        position: absolute;
        bottom: -28px;
    }

    #page-jobs main {
        padding: 32px 0;
        max-width: 740px;
        margin: 0 auto;
    }

    #search-jobs .select-block {
        margin-bottom: 0;
    }

    .vacancy-item > p {
        padding: 0 32px;
    }

    .vacancy-item footer p strong {
        display: initial;
        margin-left: 16px;
    }

    .vacancy-item footer button {
        width: 170px;
        font-size: 16px;
        justify-content: center;
    }

    .vacancy-item footer button img {
        margin-right: 16px;
        max-width: 28px;
    }
}
