<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5">
    <title>Proffy | Find Jobs</title>

    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
    
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/header.css">
    <link rel="stylesheet" href="/styles/partials/forms.css">
    <link rel="stylesheet" href="/styles/partials/page-jobs.css">
    
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
    
</head>
<body id="page-jobs">

    <div id="container">
        <header class="page-header">
            <div class="top-bar-container">
                <a href="/">
                    <img src="/images/icons/back.svg" alt="Return">
                </a>
                <a href="/">
                    <img src="/images/logo.svg" alt="Proffy Logo">
                </a>
            </div>
        
            <div class="header-content">
                <strong>These are our available jobs:</strong>
                <form id="search-jobs">
                    <div class="select-block">
                        <label for="area">Area</label>
                        <select name="area" id="area">
                            
                        <!-- 
                            to do: 
                            [ ] add more filters to job search
                        -->
                            <option value="" hidden="" />
                            {%for area in jobArea%}
                                <option value="{{loop.index}}" {{ "selected" if filters.area == loop.index }}>
                                    {{area}}
                                </option>
                            {%endfor%}

                        </select>
                    </div>
                    <div class="select-block">
                        <label for="position">Job Position</label>
                        <select name="position" id="position">

                            <option value="" hidden="" />
                            {%for position in jobPosition%}
                                <option value="{{loop.index}}" {{ "selected" if filters.position == loop.index }}>
                                    {{position}}
                                </option>
                            {%endfor%}

                        </select>
                    </div>
                    <div class="select-block">
                        <label for="region">Location</label>
                        <select name="region" id="region">

                            <option value="" hidden="" />
                            {%for region in jobRegion%}
                                <option value="{{loop.index}}" {{ "selected" if filters.region == loop.index }}>
                                    {{region}}
                                </option>
                            {%endfor%}

                        </select>
                    </div>
                    <button type="submit">Filter</button>
                </form>
            </div>
        </header> 
        
        <main>
            
            {%for job in vacancies %}
                <article class="vacancy-item">
                    <header>
                        <img 
                            src="{{job.logo}}" 
                            alt="{{job.company}}">
                        <div>
                            <strong>{{job.company}} - {{job.position}} {{job.area}}</strong>
                            <span>{{job.city}} - {{job.country}}</span>
                        </div>
                    </header>
                    <div class="description">
                        <p>{{job.description}}</p>
                        <p>{{job.mode}}</p>
                    </div>
                
                    <footer>
                        <p>Pay/month <strong>{{job.salary}}</strong> <small> US$</small>
                        </p>
                        <a href="mailto:{{job.contact}}?subject=Application to {{job.position}} {{job.area}} Position&body=Important! Do not forget to attach your resume and introduce yourself!" 
                        class="button" target="_blank">
                            <img src="/images/icons/jobs/apply.png" alt="Apply">Apply now!
                        </a>
                    </footer>
                </article>
            {%endfor%}
            
        </main>

    </div>

</body>
</html>
 